= simple_form_for @example, :html => {:class => "form-horizontal"} do |f|

  .control-group
    = f.label :headline, :class => "control-label"
    .controls
      = f.input_field :headline

  .control-group
    = f.label :excerpt, :class => "control-label"
    .controls
      = f.input_field :excerpt, :rows => 10

  .control-group
    = f.label :link, :class => "control-label"
    .controls
      = f.input_field :link

  .control-group
    = f.label :reasons, 'Raisons de la honte', :class => "control-label"
    .controls
      - Reason.all.each do |reason|
        != "<input id='example_#{reason.label}' type='checkbox' name='example[reasons][]' value='#{reason.id}'>"
        = f.label reason.label, I18n.t(reason.label)

  .form-actions
    = f.submit :soumettre, :class => 'btn' 
