= form_for @example do |f|
  -if @example.errors.any?
    #error_explanation
      %h2= "#{pluralize(@example.errors.count, "erreur")} se sont produites:"
      %ul
        - @example.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :headline, 'Résumé'
    = f.text_area :headline
  .field
    = f.label :excerpt, 'Extrait'
    = f.text_area :excerpt
  .field
    = f.label :link, 'Lien'
    = f.text_field :link
  .field
    = f.label :reasons, 'Raisons de la honte'
    - Reason.all.each do |reason|
      != "<input id='#{reason.label}' type='checkbox' name='example[reasons][]' value='#{reason.id}'>"
      = f.label reason.label, I18n.t(reason.label)

  .actions
    %label
    = f.submit 'Soumettre'
