%h1 Tous les exemples

%table
  %tr
    %th Résumé
    %th Lien
    %th Extrait
    %th
    %th
    %th

  - @examples.each do |example|
    %tr
      %td= link_to example.headline, example
      %td= link_to example.link
      %td= example.excerpt
      %td= link_to 'Show', example
      %td= link_to 'Edit', edit_example_path(example)
      %td= link_to 'Destroy', example, :confirm => 'Es-tu certain?', :method => :delete
