.span12{style: "text-align: center; margin:auto;"}
  = render "header", {:text => 'La honte a un visage'}

.row
  - if filtering_by_reason
    %p{:class => 'filter-notice'}!= "Vous consultez les exemples de <b>#{Reason.find(session[:filter_by_reason]).label.downcase}</b>. #{link_to 'Cliquez ici', clear_by_reason_path} pour revenir à tous les exemples."

.span1
  = link_to image_tag('left-arrow.png', :alt => 'reculer'), previous_path, :class => 'arrow-link'
.span9
  - unless @example.blank?
    .headline= @example.headline
    .excerpt= @example.excerpt

    .example-info
      .section
        %label{:class => 'control-label'} Référence
        = link_to @example.link.sub(/^http:\/\//,'').sub(/[w.]*/,''), @example.link

      - if !@example.reasons.empty?
        .section
          %label Raisons de la honte
          != @example.reasons.map { |reason| link_to(reason.label.downcase, by_reason_path(reason)) }.join(", ")

    .social-buttons
      = render :partial => 'twitter_button'
      = render :partial => 'facebook_button'

.span1
  = link_to image_tag('right-arrow.png', :alt => 'avancer'), next_path, :class => 'arrow-link', :alt => 'avancer'
