.row
  .span12
    - if filtering_by_reason
      %p{:class => 'filter-notice'}!= "Vous consultez les exemples de <b>#{Reason.find(session[:filter_by_reason]).label.downcase}</b>. #{link_to 'Cliquez ici', clear_by_reason_path} pour revenir à tous les exemples."

.row
  .span10
    .card
      - unless @example.blank?
        .headline= @example.headline
        .excerpt
          .quotation-marks= "“"
          = @example.excerpt

        .example-info
          .section
            = link_to @example.link.sub(/^http:\/\//,'').sub(/[w.]*/,''), @example.link, {:class => 'external', :target => '_blank'}

        .social-buttons
          = render :partial => 'twitter_button'
          = render :partial => 'facebook_button'

  .span2
    %a{:href => next_path, :alt => 'Encore!', :class => 'next-button'}
      Quoi d'autre?
      = image_tag("ff.png")
    = link_to "Soumets ton exemple", new_example_path, :class => 'submit-button'
