.row
  .span10
    .viewport
      .card
        - unless @example.blank?
          .headline= @example.headline
          .excerpt
            .quotation-marks= "“"
            = @example.excerpt

          .row
            .span10
              .example-info
                .section
                  Source :
                  = link_to(extract_website(@example.link), @example.link, {:class => 'external source-data', :target => '_blank'})

                .social-buttons
                  = render :partial => 'facebook_button'
                  = render :partial => 'twitter_button'

  .span2
    .right-of-card
      %a{:href => next_path, :alt => 'Un autre exemple', :title => 'Un autre exemple', :class => 'next-button'}
        = image_tag("ff.png", :class => "ff")
