.row
  .span12
    - if filtering_by_reason
      %p{:class => 'filter-notice'}!= "Vous consultez les exemples de <b>#{Reason.find(session[:filter_by_reason]).label.downcase}</b>. #{link_to 'Revenir à tous les exemples', clear_by_reason_path}"

.row
  .span10
    .card
      - unless @example.blank?
        .headline= @example.headline
        .excerpt
          .quotation-marks= "“"
          = @example.excerpt

        .example-info
          .section
            Source :
            = link_to(extract_website(@example.link), @example.link, {:class => 'external source-data', :target => '_blank'})

          .social-buttons
            = render :partial => 'facebook_button'
            = render :partial => 'twitter_button'

  .span2
    .right-of-card
      %a{:href => next_path, :alt => 'Un autre exemple', :title => 'Un autre exemple', :class => 'next-button'}
        = image_tag("ff.png", :class => "ff")

:javascript
  // height of right-of-card should == height of card
  h = $(".card").height();
  $(".right-of-card").height(h);
