%p#notice= notice

%p
  %b Résumé:
  = @example.headline
%p
  %b Lien:
  = @example.link
%p
  %b Extrait:
  = @example.excerpt
%p
  %b Raisons:
  - @example.reasons.each do |reason|
    %p= I18n.t reason.label

= link_to 'Modifier', edit_example_path(@example)
\|
= link_to 'Retour', examples_path
