= content_for :extra_javascript do
  = javascript_include_tag 'examples'
  
.row
  .span10
    .viewport
      .card
        - unless @example.blank?
          .headline= @example.headline
          .excerpt<
            .quotation-marks= "“"
            = @example.excerpt

          .row
            .span10
              .example-info
                .section
                  - timestamp = @example.published_at.nil? ? "" : " le #{I18n.l(@example.published_at, :format => "%-1d %B %Y")}"
                  Source :
                  = link_to(extract_website(@example.link), @example.link, {:class => 'external source-data', :target => '_blank'})
                  = timestamp

                .social-buttons
                  = render :partial => 'facebook_button'
                  = render :partial => 'twitter_button'

  .span2
    .right-of-card.hidden-phone
      %a{:href => next_path, :alt => 'Un autre fait', :title => 'Un autre exemple', :class => 'next-button'}
        = image_tag("ff.png", :class => "ff")
    .down-from-card.visible-phone
      %a{:href => next_path, :alt => 'Un autre fait', :title => 'Un autre exemple'}
        voir un autre fait >>

