%table{:class => "table-striped table-condensed"}
  %thead
    %tr
      %th ID
      %th Résumé
      %th Extrait
      %th

  %tbody
    - @examples.each do |example|
      %tr
        %td= example.id
        %td= example.headline
        %td= example.excerpt
        %td(white-space="nowrap" nowrap="true")
          = link_to image_tag('icons/pencil.png'), edit_admin_example_path(example)
          = link_to image_tag('icons/cross.png'), admin_example_path(example), :method => :delete, :confirm => "Etes-vous certain?"
