.blogpost
  %h2!= @post.title
  .timestamp= format_date(@post.created_at)
  .body
    != @post.content

  .social-buttons
    = render :partial => 'examples/facebook_button'
  .social-buttons
    = render :partial => 'examples/twitter_button'

  .links
    - if Post.all.count > 1
      %h2 Autres billets
      %ul.content-list
        - Post.all.select{|p| p != @post}.each do |post|
          %li
            = link_to post.title, post_path(post)
            = " le #{format_date post.created_at}"

%script
  var idcomments_acct = 'f7e37db087805968d1ab6cc4a306aa78';
  var idcomments_post_id;
  var idcomments_post_url;
%span{:id => "IDCommentsPostTitle", :style => "display:none"}
!= "<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>"
