.blogpost
  %h2!= @post.title
  .body
    != @post.content

  .links
    - if Post.all.count > 1
      %h2 Autres billets
      %ul.content-list
        - Post.all.select{|p| p != @post}.each do |post|
          %li
            = link_to post.title, post_path(post)
            = " le #{format_date post.created_at}"

%div{:id => "disqus_thread"}
:javascript
    var disqus_shortname = 'charest-les-faits';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
