%hr
%ul{:class => 'footer'}
  %li= link_to "accueil", root_url
  %li= link_to "à propos", about_url
  %li= link_to "raisons de la honte", root_url
  %li= link_to "soumettre un exemple", examples_path
  %li= link_to "se débarasser de la honte", good_riddance_url
