.row
  .span12
    .footer
      %ul
        %li= link_to "soumettre un exemple", new_example_path
        %li= link_to "se débarrasser de la honte", good_riddance_path
        %li= link_to "à propos", about_url
        %li= link_to "raisons de la honte", reasons_path
        %li= link_to "accueil", root_url
