.footer
  .container
    .row 
      .span12
        %ul
          %li= link_to "accueil", root_url
          %li= link_to "soumettre un exemple", new_example_path
          %li= link_to "se débarrasser de la honte", good_riddance_path
          %li= link_to "à propos", about_path
          %li= link_to "RSS", feed_path
