.footer
  .container
    .row 
      .span4
        %ul{:class => "nav nav-list"}
          %li{:class => "nav-header"}
            Agir
          %li= link_to "soumettre un exemple", new_example_path
          %li= link_to "se débarrasser de la honte", good_riddance_path
      .span4
        %ul{:class => "nav nav-list"}
          %li{:class => "nav-header "}
            Contenu
          %li= link_to "accueil", root_url
          %li= link_to "à propos", about_path
          %li= link_to "RSS", feed_path
      .span4
        %ul{:class => "nav nav-list"}
          %li{:class => "nav-header "}
            Partager
          / %li
          / Plus de 2000 visiteurs !
          %li
            = render 'facebook_main_button'
          %li
            %a{:href => "mailto:info@charest-les-faits.com"}
              contactez-nous
