.footer
  .container
    .row 
      .span3
        %ul{:class => "nav nav-list"}
          %li{:class => "nav-header"}
            Agir
          %li= link_to "soumettre un fait", new_example_path
          %li= link_to "remplacer les Libéraux", good_riddance_path
      .span3
        %ul{:class => "nav nav-list"}
          %li{:class => "nav-header "}
            Contenu
          %li= link_to "à propos", about_path
          %li= link_to "RSS", feed_path
      .span6
        %ul{:class => "nav nav-list"}
          %li{:class => "nav-header "}
            Partager
          %li
            = render 'facebook_like_full'
