%h1 À propos
%h2 Ce site web
%ul{:class => 'content-list'}
  %li<
    Ce site web est né de la frustration de constater à répétition que le
    %span{:class => 'highlight'} gouvernement Charest ne travaille pas pour l'ensemble des Québécois
    = ", mais plutôt pour certains acteurs privilégiés."

  %li<
    L'objectif premier du site web est de faire une liste des nombreux exemples démontrant que le 
    %span{:class => 'highlight'} gouvernement Charest n'a pas les intérêts des Québécois à coeur
    = "."

%h2 Qui nous sommes
%ul{:class => 'content-list'}
  %li Nous sommes deux frères qui travaillent en informatique lorsque nous ne nous mêlons pas de politique.
  %li Nous ne sommes pas affiliés à un parti politique.
  %li
    != "Vous pouvez #{mail_to "info@charest-les-faits.com", "nous contacter ici", :encode => "javascript"}."

%h2 Remerciements
%ul{:class => 'content-list'}
  %li 
    Nous remercions 
    = link_to "Marc Pageau", "http://www11.brinkster.com/marcpageau/" 
    pour nous avoir donné le droit d'utiliser sur ce site web une de ses caricatures de Jean Charest. Elle se trouve dans l'entête à droite.
  %li
    != "Nous remercions Geneviève L'Obstineuse qui est à l'origine du site web #{link_to "liberaux.net", "http://liberaux.net"} qui nous a beaucoup inspiré."
