%h1 Remplacer les Libéraux

%h2 Certitudes
%ul{:class => 'content-list'}
  %li 
    %span{:class => 'highlight'} Nous ne souhaitons pas que Jean Charest reste à la tête de notre gouvernement québécois.
  %li 
    Nous avons la certitude que 
    %span{:class => 'highlight'} tout autre parti politique que le Parti Libéral du Québec 
    pourra mieux représenter les intérêts des Québécois.
  %li 
    Nous savons que le 
    %span{:class => 'highlight'} vote des jeunes peut jouer un rôle très important 
    quant aux résultats de cette élection.
  %li 
    Nous regrettons ne pas avoir un mode de scrutin avec une dose de proportionnalité, au lieu de ce mode de scrutin majoritaire à un tour.

%h2 Nos souhaits
%ul{:class => 'content-list'}
  %li<
    = "Nous encourageons "
    %span{:class => 'highlight'} tous les électeurs québécois d'aller voter 
    = " le 4 septembre 2012. "
    %span{:class => 'highlight'}Surtout les jeunes
    = "."
  %li Nous encourageons le vote stratégique seulement pour les circonscriptions où les intentions de votes pour les Libéraux seront semblables à celles d'un autre parti dans cette même circonsciption.
  %li 
    Ne nous faites pas confiance. 
    %span{:class => 'highlight'}Allez vous-mêmes vous renseigner 
    sur ce gouvernement et les enjeux de la campagne.

%h2 Vous endossez notre cause?
%ul{:class => 'content-list'}
  %li
    Partagez
    = link_to "le lien", root_url
    vers ce site.
  %li
    != "#{link_to "Soumettez des exemples", new_example_path} qui démontrent que nous ne pouvons plus faire confiance au gouvernement Charest."
  %li
    Suivez-nous sur
    = link_to "Twitter", "http://twitter.com/charestLesFaits"
    !
  %li
    Visitez-nous sur
    = link_to "Facebook", "http://www.facebook.com/charest.les.faits"
    !
  = render 'facebook_like_full'

