%h2 Certitudes
%ul{:class => 'content-list'}
  %li Nous ne voulons plus de Jean Charest à la tête de notre gouvernement.
  %li 
    Nous avons la certitude que 
    %span{:class => 'highlight'} tout autre parti politique que le Parti Libéral du Québec 
    pourra mieux représenter les intérêts des Québécois.

%h2 Stratégies
%ul{:class => 'content-list'}
  %li<
    = "Nous souhaitons un fort taux de participation aux élections du 4 septembre 2012. "
    %span{:class => 'highlight'}Surtout chez les jeunes
    = "."
  %li Certains poussent vers le vote stratégique. Mais le vote stratégique est risqué. Nous allons considérer les votes stratégiques lorsque la campagne sera en cours.

%h2 Notre recommandation
%p Nous sommes en train de préparer nos recommandations. Revenez voir dans quelques semaines.

%h2 Pour nous aider
%ul{:class => 'content-list'}
  %li
    Partagez
    = link_to "le lien", root_url
    vers ce site.
  %li
    != "#{link_to "Soumettez des exemples", new_example_path} qui démontrent que nous ne pouvons plus faire confiance au gouvernement Charest."
  %li
    Visitez-nous sur Facebook:
  = render 'facebook_like_full'
