= render "header"

.span1
  = link_to image_tag('left-arrow.png'), previous_path, :class => 'arrow-link'
.span9
  - unless @example.blank?
    .headline= @example.headline
    .excerpt= @example.excerpt

    .example-info
      %label{:class => 'control-label'} Référence
      = link_to @example.link, @example.link

      %label Raisons de la honte
      - @example.reasons.each do |reason|
        %p= I18n.t reason.label

.span1
  = link_to image_tag('right-arrow.png'), next_path, :class => 'arrow-link'
