.span12{style: "text-align: center; margin:auto;"}
  = render "header"

.span1
  = link_to image_tag('left-arrow.png', :alt => 'reculer'), previous_path, :class => 'arrow-link'
.span9
  - unless @example.blank?
    .headline= @example.headline
    .excerpt= @example.excerpt

    .example-info
      .section
        %label{:class => 'control-label'} Référence
        = link_to @example.link.sub(/^http:\/\//,'').sub(/[w.]*/,''), @example.link

      - if !@example.reasons.empty?
        .section
          %label Raisons de la honte
          = @example.reasons.map { |reason| I18n.t(reason.label).downcase }.join(", ")

.span1
  = link_to image_tag('right-arrow.png', :alt => 'avancer'), next_path, :class => 'arrow-link', :alt => 'avancer'

