= render "header"

.span1
  = link_to image_tag('left-arrow.png'), previous_path, :class => 'arrow-link'
.span9
  - unless @example.blank?
    .headline= @example.headline
    .excerpt= @example.excerpt
.span1
  = link_to image_tag('right-arrow.png'), next_path, :class => 'arrow-link'
