= render "header"

.span1{style: "background-color:cyan"}
  = link_to "<<", root_url
.span9
  - unless @example.blank?
    = @example.headline
    = @example.excerpt
.span1{style: "background-color:cyan"}
  = link_to ">>", root_url
