!!!
%html
  %head
  %title Charest - la honte !
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  <!--[if IE]>
  :css
    .clearfix { zoom: 1; }
  <![endif]-->
%body
  %div{:class => "container"}
    = notice
    = alert
    = yield

    = render "footer"
