!!!
%html
  %head
    %title= @title.blank? ? "Charest — les faits" : @title
    = render "analytics"
    <link rel="image_src" href="/assets/charest.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = content_for :extra_javascript
  = csrf_meta_tags
  <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
  <link href="/favicon.ico" rel="icon" type="image/x-icon">

%body
  = render "facebook_setup"
  = render "header"

  .ribbon
    .container
      = render "flash_messages"
      = yield

  = render "footer"
